export DATABASE_URL="cosmos.sqlite"

export MEILI_DB_PATH="meilisearch/data/"
export MEILI_DUMP_DIR="meilisearch/dumps/"
export MEILI_HTTP_ADDR="localhost:7700"
export MEILI_MASTER_KEY="3flxeGBr1clVSf__BIAMSRCuES01iDPwk28NcdN745A"