@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-dotted {
        background-image: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.1) 0.05rem,
            transparent 0.05rem
        );
        background-size: 0.5rem 0.5rem;
        background-position: 0.1rem 0.1rem;
    }
}
